@model IEnumerable<Vidly.Models.OrderHeader>
@{
    ViewData["Title"] = "Orders";
}

<h1 class="text-info">Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.ApplicationUser.FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.ApplicationUser.LastName)</th>
            <th>@Html.DisplayNameFor(m => m.Price)</th>
            <th>@Html.DisplayNameFor(m => m.OrderTime)</th>
            <th>@Html.DisplayNameFor(m => m.PickUpTime)</th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(OrderHeader order in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => order.ApplicationUser.FirstName)</td>
                <td>@Html.DisplayFor(m => order.ApplicationUser.LastName)</td>
                <td>@Html.DisplayFor(m => order.Price)</td>
                <td>@Html.DisplayFor(m => order.OrderTime)</td>
                <td>@Html.DisplayFor(m => order.PickUpTime)</td>
                <td>
                    <a class="btn btn-success" asp-area="Admin" asp-controller="Order" asp-action="OrderReady" asp-route-orderHeaderId="@order.Id">Order Ready</a>
                </td>
            </tr>
        }
    </tbody>
</table>
