@model Vidly.Models.ViewModels.OrderDetailsViewModel
@{
    ViewData["Title"] = "Order Confirmed";
}

@*<h1 class="text-info">Order Confirmed</h1>*@

<div class="row mb-2">
    <div class="col-6">
        <h1 class="text-info">Order Confirmed</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info btn-lg" asp-area="Customer" asp-controller="Home" asp-action="Index">New Order</a>
    </div>
</div>

<div class="container row border ml-1 backgroundWhiteBorder10Padding" style="width: 100%;">
    <div class="col-lg-8 col-12" style="border-right: 1px solid #bbb9b9;">
        <br />
        <input type="hidden" asp-for="OrderHeader.Id" />
        <div class="form-group row">
            <div class="col-3">
                <label>Name</label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="OrderHeader.ApplicationUser.FirstName" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="OrderHeader.ApplicationUser.Email"></label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="OrderHeader.ApplicationUser.Email" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="OrderHeader.ApplicationUser.PhoneNumber"></label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="OrderHeader.ApplicationUser.PhoneNumber" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="OrderHeader.Price"></label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="OrderHeader.Price" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="OrderHeader.OrderTime"></label>
            </div>
            <div class="col-9">
                <input type="text" value="@Model.OrderHeader.OrderTime.ToShortDateString() @Model.OrderHeader.OrderTime.ToShortTimeString()" class="form-control" disabled />
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <h4 class="d-flex justify-content-between align-content-center mb-3">
            <span class="text-muted">Order ID</span>
            <span class="badge badge-secondary badge-pill">@Model.OrderHeader.Id</span>
        </h4>
        <ul class="list-group mb-3">
            @{
                double total = 0.0;
            }
            @foreach (OrderDetails details in Model.OrderDetails)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0">@details.MovieName</h6>
                        <small class="text-muted">Quantity: @details.MovieCount</small>
                    </div>
                    <span class="text-muted">
                        @(details.MoviePrice * details.MovieCount)
                    </span>
                    @{
                        total += (details.MoviePrice * details.MovieCount);
                    }
                </li>
            }
            @if (Model.OrderHeader.CouponCode != null)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div class="text-success">
                        <h6 class="my-0">Promo Code:</h6>
                        <small>@Model.OrderHeader.CouponCode</small>
                    </div>
                    <span class="text-success">
                        @(total - Model.OrderHeader.Price)
                    </span>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between bg-light">
                <span class="text-info">Total(USD)</span>
                <small class="text-info">$@Model.OrderHeader.Price</small>
            </li>
        </ul>
        @{ 
            string isConfirmed = "";
            if (Model.OrderHeader.Status == 1)
            {
                isConfirmed = "Confirmed";
            }
            else
            {
                isConfirmed = "Not Confirmed";
            }
        }
        <button type="submit" disabled class="btn btn-info form-control">@isConfirmed</button>
    </div>
</div>
